.imagen {
    width: 150px;
    height: 150px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.imagen img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    text-align: center;
}
.alado{
    display: flex;
}